/* ----------- HEADER ------------- */

header {
  height: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header i {
  z-index: 1;
  font-size: var(--lg-icon);
}

.header__logo {
  z-index: 1;
  height: 28px;
}

.header__nav__small-screen-size__market-icon {
  padding: 8px 10px;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1184px) {}