/* ----------- HEADER ------------- */

header {
  height: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  font-size: var(--lg-icon);
}

.header__logo {
  height: 28px;
}

.fa-cart-shopping {
  padding: 8px 10px;
}

.items_middle-screen-size {
  display: none;
}

@media (min-width: 768px) {
  .header__logo {
    height: 40.41px;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .items_small-screen-size {
    display: none;
    }

  .items_middle-screen-size {
    display: inherit;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1184px) {}