/* ----------- MAIN ------------- */

main {
  /* height: 2000px; */
}

.main__container h1 span {
  color: var(--dark-pink);
}

.main__container p {
  margin-bottom: 30px;
}

.main__navigation {
  display: flex;
  gap: 10px;
  padding-bottom: 26px;
  overflow-x: scroll;
}

.main__navigation::-webkit-scrollbar {
  display: none;
}

.main__navigation__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 14px;
  flex-shrink: 0;
  border: solid var(--black) 1px;
  padding: 12px 15px;
}

.main__navigation__items:first-child {
  margin-left: 20px;
}

.main__navigation__items span {
  margin-right: 10px;
}

.main__section-pictures {
  height: 275px;
}

.navigation_medium-screen-size {
  display: none;
}

@media (min-width: 768px) {
  .main__navigation {
    flex-wrap: wrap;
    overflow-x: unset;
  }

  .main__navigation__items {
    width: calc((100% - 30px)/ 4);
  }

  .main__navigation__items:first-child {
    margin-left: 0;
  }

  .navigation_medium-screen-size {
    display: inherit;
  }
}

@media (min-width: 1184px) {
  .main__navigation__items {
    width: calc((100% - 50px)/ 6);
  }
  .navigation_not-huge-screen-size {
    display: none;
  }
}